<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
</head>
{% load static %}
<script src="{% static 'jquery3.min.js' %}"></script>
<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap.min.js' %}"></script>
<link href="{% static 'styles.css' %}" rel="stylesheet">
<style>
    body {
        background-color: #999;
    }
    
    .node {
        cursor: pointer;
    }
    
    .node circle {
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    
    .node text {
        font: 17px sans-serif;
    }
    
    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }
</style>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Python + Django + D3
                    </a>
                </li>
                <div class="container-fluid ">
                    <form>
                        <!-- /input-group -->
                        <p>Nuevo árbol</p>
                        <div class="form-group input-group">
                            <span class="input-group-btn">
                                <a class="btn btn-primary" id="SubmitData" >Enviar</a>
                            </span>
                            <input id="getFromInput" type="text" placeholder="1,2,3,4" class="form-control">
                        </div>
                        <!--<div class="divider">-------------</div>-->
                        <!-- /input-group -->
                        <p>Agregar elemento</p>
                        <div class="form-group input-group">
                            <span class="input-group-btn">
                                <a class="btn btn-success " id="SubmitIncrement" >Agregar</a>
                            </span>
                            <input id="getIncrement" type="text" placeholder="Número a incrementar" class="form-control">
                        </div>
                        <!--<div class="divider">-------------</div>-->
                        <!-- /input-group -->
                        <p>Eliminar elemento</p>
                        <div class="form-group input-group">
                            <span class="input-group-btn">
                                <a class="btn btn-warning" id="SubmitDeleteElem">Eliminar</a>
                            </span>
                            <input id="getDelete" type="text" placeholder="Número a eliminar" class="form-control">
                        </div>
                        <!-- /input-group -->
                        <p>Buscar elemento</p>
                        <div class="form-group input-group">
                            <span class="input-group-btn">
                                <a class="btn btn-info" id="searchElement">Buscar</a>
                            </span>
                            <input id="searchElementInput" type="text" placeholder="Número a buscar" class="form-control">
                        </div>
                        <ul>
                            <li id="myIdSearch">
                                <h4>Nodo: -----</h4>
                            </li>
                            <li id="myLevelSearch">
                                <h4>Nivel: -----</h4>
                            </li>
                        </ul>
                        <!-- /Read-group -->
                        <div class="form-group">
                            <div class="divider">-----------------------------------------</div>
                            <p>Leer Arbol de Archivo</p>
                        </div>
                        <a id="ReadTree" class="btn btn-info">Leer</a>
                        <!-- /Read-group -->
                        <div class="form-group">
                            <br>
                            <p>Guardar Arbol en Archivo</p>
                        </div>
                        <a id="SaveTree" class="btn btn-info">Guardar</a>
                        <!-- /Read-group -->
                        <div class="form-group">
                            <br>
                            <p>Obtener Max y Min</p>
                        </div>
                        <a id="MaxMin" class="btn btn-primary">Obtener</a>
                        <ul>
                            <li id="myMin">
                                <h4>Min: -----</h4>
                            </li>
                            <li id="myMax">
                                <h4>Max: -----</h4>
                            </li>
                        </ul>
                    </form>
                </div>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"></span>Toggle</a>
                        <div id="d3-one"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> {% load static %}
    <script src="{% static 'd3.v3.min.js' %}"></script>
    <script src="{% static 'd3-hierarchy.v1.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>